<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="com.rookie.bigdata.beans.propertyeditors.Person">
        <property name="birthDay" value="2021-01-01"></property>
    </bean>


    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="com.rookie.bigdata.beans.propertyeditors.DateEditorRegistrar"></bean>
            </list>
        </property>
    </bean>


<!--    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">-->
<!--        <property name="customEditors">-->
<!--            <map>-->
<!--                <entry key="java.util.Date">-->
<!--                    <value>com.rookie.bigdata.beans.propertyeditors.DateEditor</value>-->
<!--                </entry>-->
<!--            </map>-->
<!--        </property>-->
<!--    </bean>-->

</beans>

